name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter server db:gen
        env:
          DATABASE_URL: "postgresql://dummy:dummy@localhost:5432/dummy"
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm build
